@model List<Student>
@{
}

<h2 class="text-center mb-5">List of Students</h2>

<div class="row mb-5">
	<div class="col">
		<a class="btn btn-primary" asp-controller="Students" asp-action="Create">New Student</a>
	</div>
	<div class="col">

	</div>
</div>


<table class="table">
	<thead>
		<th>ID</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Age</th>
		<th>Group ID</th>
	    <th>Group Name</th>
		<th>Action</th>
	</thead>

	<tbody>
		@foreach (var student in Model)
		{
			<tr>
				<td>@student.Id</td>
				<td>@student.FirstName</td>
				<td>@student.LastName</td>
				<td>@student.Age</td>
				<td>@student.GroupId</td>
				<td>@(student.Group?.GroupName ?? "No Group")</td>
				<td style="white-space:nowrap">
					<a class="btn btn-primary btn-sm" asp-controller="Students" asp-action="Edit" asp-route-id="@student.Id">Edit</a>
					<a class="btn btn-primary btn-sm" asp-controller="Students" asp-action="Delete" asp-route-id="@student.Id" onclick="return confirm('Are you sure?')">Delete</a>
				</td>
			</tr>
		}
	</tbody>

</table>